/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quintessential&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Lato';
}
h1,
h2 {
  font-family: 'Quintessential';
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

input,
textarea {
  margin-bottom: 16px;
  width: 50%;
}

input[type='submit'] {
  width: 25%;
  display: block;
  margin: 0 auto;
}

textarea {
  width: 35em;
  height: 5em;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.books-form-container {
  display: flex;
}

.books,
.add-book-form {
  flex: 1;
}
